/*****************/
/* define globals*/
/*****************/

* {
  padding: 0;
  margin: 0;
}
.container {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
.container-1 {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  color: #111;
}
/*****************/
/* define header and nav*/
/*****************/
header {
  background-color: #5524a5;
  height: 60vh;
  position: relative;
}
.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.col-logo {
  width: 15%;
}
.col-logo img {
  width: 80%;
}
.register {
  white-space: nowrap;
}
.user {
  white-space: nowrap;
}
.col-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.col-navbar ul {
  padding-right: 20px;
  font-size: 13px;
  direction: rtl;
}
.col-navbar li {
  white-space: nowrap;
  font-size: 16px;
}
.col-navbar button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: rgb(218, 45, 180);
  border-radius: 20px;
  border: none;
  color: #f2f3f8;
  font-size: 16px;
}
.col-navbar a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  font-size: 16px;
}
/*****************/
/* define search part*/
/*****************/
.search {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 23%;
  background: rgba(48, 28, 73, 0.2);
  padding: 10px 15px;
  width: 50%;
  border-radius: 40px;
  color: #fff;
}

.col-src1 {
  width: 8%;
  background: #fff;
  border-radius: 300px;
  padding: 6px 6px;
  margin-right: 30px;
  background-color: rgb(218, 45, 180);
  text-align: center;
}
.col-src1 .fa-solid {
  padding: 5px;
}
.col-src2 {
  width: 40%;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 8px 6px;
  text-align: right;
  background: #fff;
  color: #000;
  text-align: center;
}
.col-src3 {
  width: 70%;
  margin-left: 400px;
  font-size: 18px;
  font-weight: 200;
}
.col-src3 h4 {
  font-size: 18px;
  font-weight: 200;
  text-align: right;
}
/*****************/
/* define alphabet search*/
/*****************/
.archive {
  position: absolute;
  top: 60%;
  left: 45%;
  color: #fff;
  font-size: 22px;
}
.abc-scroll {
  display: flex;
  position: absolute;
  top: 65%;
  left: 35%;
  width: 33%;
  margin-top: 20px;
}
.col-abc {
  background: #f2f3f8;
  border-radius: 300px;
  padding: 6px 10px;
  text-align: center;
  width: 10px;
  margin-left: 2px;
}
/*****************/
/* define film crousel */
/*****************/
.cards {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 85%;
  left: 20%;
  z-index: 2;
}

.owl-item .card {
  width: 180px;
  height: 260px;
  border-radius: 15px;
  border: 3px solid #fff;
  border-radius: 15px;
  box-sizing: border-box;
}
.owl-item img {
  border-radius: 15px;
  height: 100%;
}

/*****************/
/* deefine svg */
/*****************/

.svg {
  width: 100%;
  position: relative;
}

.custom-shape-divider-top-1663519051 svg {
  position: relative;
  display: block;
  width: calc(280% + 1.3px);
  height: 195px;
}

.custom-shape-divider-top-1663519051 .shape-fill {
  fill: #5524a5;
}
/*****************/
/* define section */
/*****************/
.weekly-table {
  width: 60%;
  margin: auto;
  margin-top: 60px;
}
.weekly-table h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 200;
}
.week-day ul {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 15px;
}
.week-day a {
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.today-film .films {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 60%;
}

.col-left {
  display: flex;
  border-radius: 12px;
  background-color: #f2f3f8;
  width: 48%;
}
.col-left:hover {
  background-color: #5a26aa;
  color: #fff;
  cursor: pointer;
}

.col-right:hover {
  background-color: #5a26aa;
  color: #fff;
  cursor: pointer;
}

.col-right {
  display: flex;
  width: 48%;
  border-radius: 12px;
  background-color: #f2f3f8;
}

.col-left h4 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.col-right h4 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.col-left h5 {
  margin-top: 50px;
  color: #888;
  padding-left: 100px;
}
.col-right h5 {
  margin-top: 50px;
  color: #888;
  padding-left: 100px;
}
.col-left p {
  color: #888;
}
.col-right p {
  color: #888;
}

.col-left img {
  width: 50px;
  height: 70px;
  margin-top: 5px;
  border-radius: 12px;
  padding: 5px 8px;
}
.col-right img {
  width: 50px;
  height: 70px;
  margin-top: 5px;
  border-radius: 12px;
  padding: 5px 8px;
}
.col-left i {
  color: rgb(153, 36, 168);
}
.col-right i {
  color: rgb(153, 36, 168);
}
